@charset 'utf-8';
@import './variable.scss';

@mixin bg_color(){
    background: $html-bg-theme2;
    [data-theme=theme1] & {
      background: $html-bg-theme1;
    }
    [data-theme=theme2] & {
        background: $html-bg-theme2;
    }
}

@mixin nav_bg_color(){
    background: $nav-bg-theme2;
    [data-theme=theme1] & {
      background: $nav-bg-theme1;
    }
    [data-theme=theme2] & {
        background: $nav-bg-theme2;
    }
}

@mixin nav_font_color(){
    color: $nav-font-theme2;
    [data-theme=theme1] & {
      color: $nav-font-theme1;
    }
    [data-theme=theme2] & {
        color: $nav-font-theme2;
    }
}

@mixin tittle_font_color(){
    color: $tittle-font-theme2;
    [data-theme=theme1] & {
      color: $tittle-font-theme1;
    }
    [data-theme=theme2] & {
        color: $tittle-font-theme2;
    }
}

@mixin dir_font_color(){
    color: $dir-font-theme2;
    [data-theme=theme1] & {
      color: $dir-font-theme1;
    }
    [data-theme=theme2] & {
        color: $dir-font-theme2;
    }
}