$html-bg-theme1:rgba(0, 0, 0, 0.714);
$html-bg-theme2:#f4f5f5;

$nav-bg-theme1:#27272a;
$nav-bg-theme2:white;

$nav-font-theme1:rgba(255, 255, 255, 0.563);
$nav-font-theme2:#5e6d82;

$tittle-font-theme1:rgba(255, 255, 255, 0.749);
$tittle-font-theme2:black;

$dir-font-theme1:#1e80ff;
$dir-font-theme2:#1e80ff;

